.first_about{
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.education{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.Skills{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.personal_projects{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.contact_me{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.the_end{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.education_milestone{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between
}
#last_name{
    /* transition: all .3s; */
    color: darkblue;
}
#last_name:hover{
    color: rgb(100, 100, 141);
    border-bottom: rgb(30, 30, 134);
}
.menu_list{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    width: 100%;
}
.menu_list a{
    color: white;
    transition: all .3s;
}
.menu_list a:hover{
    border-bottom: 3px solid white;
}
.menu_item{
    margin-left: 20px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    display: inline-block;
    text-decoration: none;
    text-emphasis: none;
}
/* .header_1{
    height: 75px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(146 161 176 / 15%);
} */
.menu{
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    column-gap: 2rem;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.main_menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    transition: all .3s;
}
.main_menu:hover{
    border-bottom: 3px solid white;
}
nav{
    justify-content: space-between;
    align-items: center;
}
ul, ol{
    list-style: none;
}
h1,h2,h3{
    line-height: 0.5;
}
.header_1{
    height: 75px;
    width: 100%;
    position: fixed;
    display: flex;
    overflow: hidden;
    top: 0;
    flex-direction: row;
    z-index: 9;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    /* z-index: 99; */
    font-size: 18px;    
    outline: none;
    background-color: rgb(30, 30, 134);
    color: white;
    /* cursor: pointer; */
    padding: 15px;
    border-radius: 40%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
































/* .menu-bar{
    height: 51px;
    background-color: rgba(0, 1, 2, 0.822);
    width: 100%;
}
.menu-list{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 2em;
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
}
.menu-list a{
    font-family: sans-serif;
    display: inline-block;
    margin-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 15px;
    font-family: roboto-medium;
    color: white;
    transition: all .3s;
}
.menu-list a:hover{
    border-bottom: 5px solid #f7f7f7;
    color: white;
    font-family: roboto-bold;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0s;
    -o-transition-timing-function: ease;
}
img, html, hr, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ul, ol{
    list-style: none;
} */